/* grouped selector, will style all h1's and p's*/
h1 {color:plum;}
    font-size: 80%;
    font-family: Arial, Helvetica, sans-serif;
}
/*p {color:aquamarine;}
this is our basic element selector, every p on the page gets styled
*/
p a {color:darkolivegreen;} 
/*this styles the id*/
#secondparagraph {color: olive;}
.purpletext {color: blueviolet;}