body{background-color: #CBFFA8; color: #73bdb4;
font-family: 'Times New Roman', Times, serif}

nav a{background-color: #000000;}
nav a{color: #ffdee1;}
a:visited {color: #00ff00;}
a:hover {background-color: #efefef;}

h1{color:black}

