body {
    background-color: #CBFFA8; 
    color: #0B5151; 
    margin: 10px;
}
.mainheading {
    text-align: center;
    margin-bottom: 20px;
}
a:visited {
    color: #000000;
}
a:hover {
    background-color: #efefef;
}
nav a {
    color: #ffffff;
}
nav a:hover {
    background-color: #f8c4fb;
}
nav {
    background-color: #84fff1;
    padding: 10px;
    margin-bottom: 30px;
}
.motto {
    float: right;
    margin-top: 0px;
}
.main-image {
    max-width: 100%;
}
.map {
    max-width: 100%;
}
.row1,
.row2 {
    display: flex;
    margin: 20px;
    padding: 10px;
    border-radius: 10px;
    background-color: #ffc0cb;
}

.row1 div,
.row2 div {
    flex: 1;
    margin-right: 20px;
}

.flexbox1 {
    display: flex;
    flex: 3;
    justify-content: space-between;
    margin: 30px;
}

.aside {
    background-color: #ffffff;
    border-radius: 15px;
    flex: 1;
    padding: 20px;
}

.flexbox2 {
    display: flex;
    margin: 50px;
}

@media only screen and (max-width: 800px) {
    nav a {
        width: 100%;
        display: block;
    }

    nav span {
        display: none;
    }

    nav a {
        margin: 10px;
    }
}